/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  background-color: #ededed;
}


/* Log in & Sign up */

.btn {
  background-color: #23accf;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
}

.btn:hover {
  background-color: #2797b0;
  color: white;
}

.jumbotron {
  text-align: center;
  padding: 20px 24px;
}

@media (min-width: 768px) {
  .container {
    max-width: 550px;
  }
}

.link {
  display: block;
  color: grey;
  padding-top: 8px;
  color: #23accf;
}

.link:hover {
  color: #23accf;
}

.logo {
  display: block;
  padding-bottom: 30px;
}

.tea {
  margin-top: -60px;
  animation: tea 3s;
}

@keyframes tea {
  from {
    padding-left:100%;
  }

  to {
    padding-left:0%;
 }
}

.pencil {
  margin-top: -230px;
  padding-left: 300px;
  animation: pencil 3s;
}

@keyframes pencil {
  0% {opacity: 0;}
  60% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 640px) {
  .pencil {
    margin-top: 0;
  }
}


/* Header */

header {
  background-color: #ffffff;
  border-bottom: 1px solid #cfd2d4;
}

.logo-s {
  display: inline-block;
  margin: 7px 7px 7px 20px;
}

.logo-s img {
  width: 100px;
}

.user {
  display: inline-block;
  font-size: 15px;
}

.user img {
  width: 25px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.nav {
  margin: 12px 30px 0px 10px;
  color: #808080;
  float: right;
}

.logout {
  padding-left: 30px;
  font-size: 12px;
  top: 3px;
}


/* Posts */

.posts {
  text-align: left;
}
