/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  background-color: #ededed;
}


/* Log in & Sign up */

.btn {
  background-color: #23accf;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 20px;
}

.btn:hover {
  background-color: #2797b0;
  color: white;
}

.jumbotron {
  text-align: center;
  padding: 20px 24px;
}

@media (min-width: 768px) {
  .container {
    width: 550px;
  }
}

.link {
  display: block;
  color: grey;
  padding-top: 8px;
  color: #23accf;
}

.link:hover {
  color: #23accf;
}

.logo {
  display: block;
  padding-bottom: 30px;
}

.tea {
  margin-top: -60px;
  animation: tea 3s;
}

@keyframes tea {
  from {
    padding-left:100%;
  }

  to {
    padding-left:0%;
 }
}

.pencil {
  margin-top: -230px;
  padding-left: 300px;
  animation: pencil 3s;
}

@keyframes pencil {
  0% {opacity: 0;}
  60% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 640px) {
  .pencil {
    margin-top: 0;
  }
}


/* Header */

header {
  background-color: #ffffff;
  border-bottom: 1px solid #cfd2d4;
}

.logo-s {
  display: inline-block;
  margin: 7px;
}

.logo-s img {
  width: 100px;
}

.user {
  display: inline-block;
  font-size: 15px;
}

.user img {
  width: 25px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.nav {
  margin: 12px 0px 0px 10px;
  color: #808080;
  float: right;
}

.logout {
  padding-left: 30px;
  font-size: 12px;
  top: 3px;
}


/* Navigation */

.blog-nav {
  text-align: center;
}

.search {
  width: 180px;
  padding: 10px 0 10px 10px;
  display: inline-block;
}

.search div input {
  font-size: 12px;
}

@media (max-width: 640px) {
  .search {
    width: 100%;
    padding: 15px;
  }
}


/* Posts */

.post {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfe6eb;
  box-shadow: 1px 1px 1px #c9c9c9;
}

@media (max-width: 640px) {
  .post {
    width: 100%;
  }
}

.posts {
  text-align: left;
}

.close {
  float:right;
  cursor:pointer;
  font-size: 18px;
  padding-bottom: 12px;
  margin-right: -12px;
}

.add-post {
  box-shadow: 1px 1px 1px #c9c9c9;
  background-color: #e4f0f5;
  padding: 16px 30px 10px 30px;
  border-radius: 10px;
  border: 1px solid #bedfeb;
}

@media (max-width: 640px) {
  .add-post {
    width: 100%;
  }
}

.container2 {
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto
}

@media (min-width:768px) {
  .container2 {
    width: 880px
  }
}

.btn-small {
  background-color: #facd46;
  font-size: 12px;
  padding: 6px 14px 7px 14px;
  display: inline;
}

.btn-small:hover {
  background-color: #dba92a;
}

.edit {
  padding: 6px 22px 7px 22px;
}

.button {
  text-align: right;
}

.title {
  font-size: 20px;
  color: #a3a3a3;
}

.description {
  font-size: 15px;
}

.user-message {
  padding-bottom: 14px;
}

.user-message img {
  width: 32px;
  position: relative;
  margin-right: 5px;
}

.message {
  font-size: 12px;
  width: 100%;
}

.sender {
  font-weight: bold;
  font-size: 12px;
}

.time {
  color: #a3a3a3;
  font-size: 11px;
}

.map {
  height: 200px; width: 100%;
}

.map2 {
  height: 200px; width: 99%;
}



/* Footer */

footer{
  text-align: center;
  padding: 20px;
  font-size: 11px;
  color: grey;
}
