/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
 }

body {
  background-color: #ededed;
}

 .btn {
   background-color: #23accf;
   color: white;
   font-size: 18px;
   padding: 5px 20px;
 }

 .btn:hover {
   background-color: #2797b0;
   color: white;
 }

 .jumbotron {
  text-align: center;
  padding: 20px 24px;
}

@media (min-width: 768px) {
  .container {
    max-width: 550px;
  }
}

.link {
  display: block;
  color: grey;
  padding-top: 8px;
  color: #23accf;
}

.link:hover {
  color: #23accf;
}

.logo {
  display: block;
  padding-bottom: 30px;
}

.tea {
  display: inline-block;
  margin-top: -60px;
}

.pencil {
  display: inline-block;
  margin-top: -60px;
  padding-left: 70px;
  position: relative;
  animation: pencil 2s;
}

@keyframes pencil {
    0%   {transform: rotate(7deg);}
    20%  {transform: rotate(0deg);}
    40%  {transform: rotate(7deg);}
    60%  {transform: rotate(0deg);}
    80%  {transform: rotate(7deg);}
    100% {transform: rotate(0deg);}
}

@media (max-width: 640px) {
  .pencil {
    margin-top: 0;
  }
}
