<% if flash[:message] %>
  <div class="alert">
    <%= flash[:message] %>
  </div>
<% end %>

<h1> Sign Up </h1>
<form action="<%= users_path %>" method="POST"
    autocomplete="false">
  <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="username" name="user[username]"
    placeholder="Desired Username"><br/>
  <input type="email" name="user[email]"
    placeholder="Your Email"><br/>
  <input type="password" name="user[password]"
    placeholder="Desired Password"><br/>
  <input type="submit" value="Sign Up">
</form>
