<!--This is where the search bar, filters, and create button live-->
<nav class="blog-nav">
  <a ng-click="mainCtrl.filterAs('availableItems')" id="availableItems" class="blog-nav-item" href="#">Available items</a>
  <a ng-click="mainCtrl.filterAs('borrowedItems')" id="borrowedItems" class="blog-nav-item" href="#">My borrowed items</a>
  <a ng-click="mainCtrl.filterAs('leantItems')" id="leantItems" class="blog-nav-item" href="#">My lent items</a>
  <a ng-click="mainCtrl.filterAs('listedItems')" id="listedItems" class="blog-nav-item" href="#">My listed items</a>
  <a ng-click="mainCtrl.toggleForm(true); mainCtrl.loadMapCoor()" id="addItem" class="blog-nav-item" data-toggle="collapse" data-target="#form" href="#">+ Add an item</a>
  <div class="search">
    <div class="form-group">
      <input ng-model="searchText" class="form-control" type="text" placeholder="Search" maxlength="70">
    </div>
  </div>
</nav><!--END OF APP NAVIGATION -->

<div class="container2">
  <!--This form adds new listings to the DB -->
  <!--This form will show when a user clicks on the add listing-->
    <form ng-controller="ItemController as itemCtrl" ng-submit="itemCtrl.addItem()" ng-show="mainCtrl.formStatus" id="form" class="collapse">
      <div class="add-post">
        <div ng-click="mainCtrl.toggleForm(false)" class="close" data-toggle="collapse" data-target="#form">&#10005;</div>
          <div class="form-group">
            <input ng-model="itemCtrl.newItemTitle" type="text" class="form-control" required maxlength="70" placeholder="Item name"><br/>
            <textarea ng-model="itemCtrl.newItemDescription" class="form-control" rows="3" required maxlength="1000" placeholder="Item description"></textarea><br/>
            <div id="map"></div>
            <div class="button">
              <input type="submit" value="Submit" class="btn btn-small">
            </div>
          </div>
      </div>
    </form><!-- END OF CREATE LISTING FORM -->

  <div class="post">
  <div class="posts">
  <!-- available items -->
  <main ng-controller="ItemController as itemCtrl">
  	<section ng-show="mainCtrl.filter === 'availableItems'">
  		<div ng-repeat="item in itemCtrl.itemList | filter:searchText" ng-show="item.available && item.user_id != mainCtrl.currentUser.user_id">
  			<p class="title">{{item.title}}</p>
  			<p class="description">{{item.description}}</p>
        <div class="button">
          <a href="#" ng-click="itemCtrl.borrowItem(item)" class="btn btn-small">Borrow me</a>
        </div>
        <hr>
      </div>

  	</section>


  	<!--my borrowed items -->
  	<section ng-repeat="item in itemCtrl.itemList | filter:searchText" ng-show="mainCtrl.filter === 'borrowedItems'">
  		<div ng-show="item.borrower_id === mainCtrl.currentUser.user_id">
        <p class="title">{{item.title}}</p>
        <p class="description">{{item.description}}</p>
        <div class="button">
          <a href="#" ng-click="itemCtrl.returnItem(item)" class="btn btn-small">Return me</a>
        </div><br>
        <div ng-controller = "CommentsController as CommentCtrl">
          <table>
            <tr>
              <td>
                <div class="user-message">
                  <%= image_tag 'user.png' %>
                </div>
              </td>
              <td class="message">
            		<form ng-submit = "CommentCtrl.createComment()" class="form-group">
            			<input class="form-control message" type="text" ng-model="CommentCtrl.newComment"placeholder="Write a message to lender...">
            		</form>
              </td>
            </tr>
          </table>
    			<div ng-repeat = "comment in item.comments" ><span class="sender">{{comment.user_id}}</span><span> </span><span>{{comment.comment}}</span></div>
    			<small class="time">{{comment.created_at}}</small>
          <hr>
        </div>
  		</div>
  	</section>

  	<!--my leant items -->
  	<section ng-repeat="item in itemCtrl.itemList | filter:searchText" ng-show="mainCtrl.filter === 'leantItems'">
  		<div ng-show="item.borrower_id && item.user_id === mainCtrl.currentUser.user_id">
  			<p class="title">{{item.title}}</p>
  			<p class="description">{{item.description}}</p>
        <table>
          <tr>
            <td>
              <div class="user-message">
                <%= image_tag 'user.png' %>
              </div>
            </td>
            <td class="message">
          		<form class="form-group">
          			<input class="form-control message" type="text" placeholder="Write a message to borrower...">
          		</form>
            </td>
          </tr>
        </table>
  			<div><span class="sender">Sender</span><span> message</span></div>
  			<small class="time">time stamp</small>
        <hr>
  		</div>
  	</section>

  	<!--my listed items -->
  	<section ng-repeat="item in itemCtrl.itemList | filter:searchText" ng-show="mainCtrl.filter === 'listedItems'">
  		<div ng-show="item.user_id === mainCtrl.currentUser.user_id && !borrower_id">
        <p class="title">{{item.title}}</p>
        <p class="description">{{item.description}}</p>
        <div class="button">
          <button class="btn btn-small edit" >Edit</button>
          <button class="btn btn-small">Delete</button>
        </div>
        <hr>
  		</div>
  	</section>
  </main>

  </div>
  </div>
</div>
<footer>
  <p>&copy; Something Borrowed</p>
</footer>
