<!DOCTYPE html>
<html ng-app="SomethingBorrowed">
<head>
  <title>Something Borrowed|A Borrowing Marketplace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="MainController as mainCtrl">

<header>
	<!--This is a logo placeholder -->
	<h1>logo</h1>
	<!-- This is the welcome, user message -->
	<p>Welcome, <em>{{mainCtrl.currentUser}}</em></p>
	<!-- This is a log out button -->
	<button ng-click="mainCtrl.logOut()">log out</button>
</header>

<%= yield %>

</body>
</html>
